body{
    background-color:gray;
}
li {
    text-align:center;
    border:solid black 2px;
}
h1 {
    font-size:45px;
    border-top:double;
    text-align:center;
    border-bottom:double;
    margin-left:250px;
    margin-right:250px;
}
h2{
    font-size:30px;
    margin-left:150px;
    margin-right:150px;
    border-top:solid;
    border-bottom:solid;
}


a {
  background-color:gray;  
}
.hardwarep{
    font-size:17px;
    color:black;
    margin-left:150px;
    margin-right:150px;
}
.hardwarep:hover{
    font-size:20px;
    color:red;
    
}
.hardware-image{
    border:3px dashed black;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.hardware-image:hover{
    height:400px;
    width:400px;
    border-color:red;
}
.link{
    margin-left:300px;
    display:flex;
    border-style:solid;
    border-color:black;
    font-size:20px;
    color:red;
}
.link:hover{
    background-color:white;
    font-size:30px;
}
#navbar{
    text-align: center;
}
#navbar a {
    border:solid;
    color:white;
}
#navbar li {
    font-size: 20px;
    display: inline-block;
}
#navbar li:hover{
    font-size:25px;
}