.paragraphs{
    font-size:10px;
    color:white;
}
body{
    border:solid;
    margin-left:150px;
    margin-right:150px;
    background-color:black;
}
      .paragraphs:hover{
        font-size:20px;  
        color:red;
      }
      
      a {
        color:white;
        
      }

    h1{
            font-size:50px;
    color:white;
    border-color:white;
    border-top:double;
    border-bottom:double;
        margin-left:150px;
        margin-right:150px;
        text-align:center;
        font-size:50px;
        display:inline-x:;block;
        
    }
        .paragraphs{
            transition:0.3s linear;
            font-size:120%;
            font-family:"arial";
            border-style:dotted;
            border-width:3px;
    color:white;
}
body{
    background-color:black;
}
h2 {
    font-size:35px;
    color:white;
    border-color:white;
    border-top:solid;
    border-bottom:solid;
}
h3{
    font-size:31px;
    color:white;
    border-color:white;
    border-top:dashed;
    border-bottom:dashed;
}